@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair&display=swap");
@import "tailwindcss";

@theme {
    --color-foreground: white;
    --color-background: #630e15d1;
    --color-background-alt: #3b0f29a3;
    --color-dark-bg: #2c2c2c;
    --color-cta-bg: color-mix(in oklab, hsl(191.6deg 41.4% 53.22%) 47%, transparent);
    --color-hero-text: #3E5A38;
    --color-logo-text: #FFC9C9;
    --color-button-primary: #b31f00a3;
    --color-button-hover: #b31f00;
    --color-button-action: #e66e6c;
    --color-button-action-hover: #ff7f7c;
    --color-border1:#677275;
    --color-quote:#e4e4e4c2;
    
    --color-heading-secondary: hsl(42.06deg 85.06% 85.18% / 76%);
    --color-heading-primary: #f5e2a7;
    --color-paragraph: #d5d5d5;

    --font-heading: "Playfair Display", serif;
    --font-body: "Poppins", sans-serif;
}

/* @layer components {

} */

@layer base {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: var(--font-heading);
    }

    p,
    nav,
    a {
        font-family: var(--font-body);
        color: antiquewhite;
    }

    nav {
        font-weight: 500;
        font-size: larger;
        color: #99bdbce3;
    }

    nav ul li:not(:last-child)::after {
        content: "|";
        margin: 0 0.5rem;
        color: #f3817f;
    }
}