@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair&display=swap");
@import "tailwindcss";

@theme {
    --color-foreground: #5a8a76;
    --color-background: #FFEAD1;
    --color-dark-bg: #2c2c2c;
    --color-hero-bg: rgb(83 119 92 / 47%);
    --color-hero-text: 3E5A38;

    --font-heading: "Playfair Display", serif;
    --font-body: "Poppins", sans-serif;
}

/* @layer components {

} */

@layer base {
    h1, h2, h3, h4, h5, h6 {
        font-family: var(--font-heading);
    }

    p, nav, a {
        font-family: var(--font-body);
    }

    nav {
        font-weight: 700;
        font-size:larger;
    }
}

