@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair&display=swap");
@import "tailwindcss";

@theme {
    --color-foreground: #5a8a76;
    --color-background: hsl(270.69deg 86.53% 9.37% / 43%);
    --color-dark-bg: #2c2c2c;
    --color-cta-bg: color-mix(in oklab, hsl(191.6deg 41.4% 53.22%) 47%, transparent);
    --color-hero-text: #3E5A38;
    --color-button-primary:#009cb3a3;

    --font-heading: "Playfair Display", serif;
    --font-body: "Poppins", sans-serif;
}

/* @layer components {

} */

@layer base {
    h1, h2, h3, h4, h5, h6 {
        font-family: var(--font-heading);
    }

    p, nav, a {
        font-family: var(--font-body);
    }

    nav {
        font-weight:500;
        font-size:larger;
    }

    nav ul li:not(:last-child)::after {
        content: "•";
        margin: 0 0.5rem;
        color: #f3817f;
    }
}

